.items
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    justify-content: flex-start

.title
    margin-bottom: 20px

.filters
    margin-bottom: 12px
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start

.filter-item
    padding: 8px
    border: 1px dashed #c3c3c3
    margin-right: 12px

    label
        margin-right: 8px
        margin-left: 8px

.pagination
    margin-top: 20px