.files
    display: flex
    align-items: flex-start
    justify-content: flex-start
    flex-wrap: wrap

.file
    margin: 6px
    width: calc(100% / 4 - 12px)

    img
        width: 100%
        display: block

    video
        width: 100%