.row
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 20px

.item
    width: calc(100% / 4 - 20px)
    padding: 10px
    border-radius: 4px
    border: 1px dashed #ccc
    margin-bottom: 10px