.pagination
    display: flex
    align-items: center
    justify-content: center
    margin-left: 24px
    margin-right: 24px

    &--page
    &--divider
    &--button
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 32px
        width: 32px
        height: 32px
        text-align: center
        user-select: none
        margin-left: 8px
        margin-right: 8px

    &--button
        font-size: 24px
        cursor: pointer
        transform: scale(1)
        transition: transform 300ms ease-in-out

        &:hover
            transform: scale(1.2)

    &--page
        background: rgba(207, 183, 247, 0.1)
        border-radius: 2px
        cursor: pointer
        transition: background 300ms ease-in-out

        &:hover
            background: rgba(207, 183, 247, 0.3)

        &--active
            cursor: default
            background: linear-gradient(180deg, rgba(207, 183, 247, 0.57) 0%, rgba(208, 255, 220, 0.73) 100%)

            &:hover
                background: linear-gradient(180deg, rgba(207, 183, 247, 0.57) 0%, rgba(208, 255, 220, 0.73) 100%)